@model Budgeter.Models.CodeFirst.Household
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BudgeterLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 full-content-small">
        <div class="login-wrap">
            @using (Html.BeginForm("Create", "Households", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <h4 style="color:#fff">Create Household</h4>
                <p class="text-danger">@ViewBag.ErrorMessage</p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter New Household Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-teal" />
                    </div>
            }
            <hr />
            @using (Html.BeginForm("Join", "Households", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h4 style="color:#fff">Join Existing Household</h4>
                <p class="text-danger">@ViewBag.JoinErrorMessage</p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <input name="InviteCode" type="text" class="form-control" placeholder="Enter the Invite Code received by email" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Join" class="btn btn-teal" />
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*@model Budgeter.Models.CodeFirst.Household

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Household</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
