@model Budgeter.Models.CodeFirst.BudgetItem
@{
    Layout = null;
}
<h2><strong class="text-danger">Delete</strong> Budget Item</h2>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Name):</dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>
    <dt>@Html.DisplayNameFor(model => model.Income):</dt>
    @if (Model.Income == true)
    {
        <dd>Income</dd>}
    else
    {
        <dd>Expense</dd>}
    <dt>@Html.DisplayNameFor(model => model.Category):</dt>
    <dd>@Html.Raw(Model.Category.Name)</dd>
    <dt>@Html.DisplayNameFor(model => model.AmountLimit):</dt>
    <dd>$@Html.DisplayFor(model => model.AmountLimit)</dd>
    <dt>@Html.DisplayNameFor(model => model.Balance):</dt>
    <dd>$@Html.DisplayFor(model => model.Balance)</dd>
    <dt>Includes:</dt>
    <dd>@Model.Transactions.Count() Transactions</dd>
</dl>
<div class="alert alert-danger">
    <p><strong>Warning!</strong> Are you sure you want to delete this budget item? All information and records involving this budget will be permanently deleted.</p>
</div>
@using (Html.BeginForm("Delete", "BudgetItems"))
{
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger pull-right" />
        <button type="button" class="cancel-budg btn btn-teal">Cancel</button>
    </div>
}