@model Budgeter.Models.ManageAccountsViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-7">
        <div class="box-info shadow">
            <h2><strong>All</strong> Accounts</h2>
            <table id="tableAcct" class="data-table compact hover table-striped">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th> Balance</th>
                        <th>Reconciled Balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.ReconBankAccounts)
                    {
                        <tr>
                            <td>@account.Account.Name</td>
                            <td class="balance text-succ">@account.Account.Balance</td>
                            <td class="balance text-succ">@account.ReconciledBalance</td>
                            <td>
                                <button class="viewAcctTrans btn btn-xs btn-teal" data-id="@account.Account.Id" type="button"><i class="fa fa-eye"></i></button>
                                @if (User.IsInRole("Admin"))
                                {
                                    <button id="" class="editAcct btn btn-teal btn-xs" data-id="@account.Account.Id" type="button"><i class="fa fa-edit"></i></button>
                                    <button id="" class="deleteAcct btn btn-danger btn-xs" data-id="@account.Account.Id" type="button"><i class="fa fa-trash"></i></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-5 box-info shadow">
            <div id="editView">
                @Html.Action("_Create")
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div id="viewTrans">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}